<!doctype html>
<head>
  <title>Git Explore</title>

  <!-- jQuery. Not downloaded as backup yet -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <!-- my jQuery script -->
  <script src="{{ url_for('static', filename='form.js') }}"></script>

  <!-- style -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>
  <nav>
    <h1>Git Explore</h1>
  </nav>

  <h1>Query!</h1>

  <div>
    <form>
      <label for="usernameInput">username</label>
      <input name="username" id="usernameInput">
      <label for="repoInput">repository</label>
      <input name="repo" id="repoInput">
      <input type="submit" value="Query">
    </form>
    <br>
    <div id="NoPR"></div>
    <div id="PRCount"></div>
    <div id="PRMergeRate"></div>
    <div id="PRAdditions"></div>
    <div id="PRDeletions"></div>
    <div id="PRCommits"></div>
    <div id="PRChangedFiles"></div>
    <div id="PRMeanDays"></div>
    <div id="PRMeanHours"></div>
    <div id="PRMeanMinutes"></div>
  </div>
</body>
<!-- <body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{
    url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
</body>


<script type=text/javascript>
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });
  });
</script>
<h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a> -->
