<!doctype html>
<head>
  <title>Git Explore</title>

  <!-- jQuery. Not downloaded as backup yet -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <!-- my jQuery script -->
  <script src="{{ url_for('static', filename='form.js') }}"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  <!-- style -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>


  <div class = "container">
    <div class="jumbotron">
      <nav>
        <h1>Git Explore</h1>
      </nav>
      <form>
        <label for="usernameInput">username</label>
        <input name="username" id="usernameInput">
        <label for="repoInput">repository</label>
        <input name="repo" id="repoInput">
        <input type="submit" value="Query">
      </form>
    </div>
    <div class="col-md-4">
      <h2>Repo Health</h2>
      <div id="NoPR"></div>
      <div class="table-responsive">
        <table class="table-striped">
          <tbody>
            <tr><td>Total # Pull Requests:</td><td><span id="PRCount"></span></td></tr>
            <tr><td>Merge Rate:</td><td><span id="PRMergeRate"></span></td></tr>
            <tr><td>Average # Additions:</td><td><span id="PRAdditions"></span></td></tr>
            <tr><td>Average # Deletions:</td><td><span id="PRDeletions"></span></td></tr>
            <tr><td>Average # Commits:</td><td><span id="PRCommits"></span></td></tr>
            <tr><td>Average # Changed Files:</td><td><span id="PRChangedFiles"></span></td></tr>
            <tr><td>Average Time Open:</td><td><span id="PRMeanDays"></span> Days, <span id="PRMeanHours"></span> Hours, <span id="PRMeanMinutes"></span> Minutes</td></tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Collaborators:</h2>
      <!-- <div id="users"></div> -->
      <div class="table-responsive">
        <table class="table-striped">
          <tbody id ="users">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
<!-- <body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{
    url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
</body>


<script type=text/javascript>
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });
  });
</script>
<h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a> -->
